.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 8vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a,
input,
button,
.App-link {
  color: #61dafb;
}

b {
  display: block;
  margin-bottom: 10px
}

input,
button {
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  opacity: 0.75
}

button {
  padding: 10px;
  border: 2px solid #61dafb;
  background: #282c34;
  font-weight: bold;
}



h1 {
  font-size: 12vmin;
}

nav ul li,
article p {
  text-align: left;
}

article p {
  width: 80%;
  margin: 0 auto;
}

footer {
  margin: 30px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* form, .search{
  border: 2px #888 solid;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}
form * {
  margin-right: 10px
} */